/* ==================== Variables ==================== */
/* ==================== Header ==================== */
.header {
  background-image: url(../photos/background-1.jpg);
  background-size: cover;
  overflow: hidden;
  height: 625px;
  /* ==================== Nav bar ==================== */
  /* ==================== Slider ==================== */
}
.header .navbar {
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #CCC;
  overflow: hidden;
}
.header .navbar .logo {
  height: 100%;
  width: 70%;
  display: inline-block;
  overflow: hidden;
}
.header .navbar .logo img {
  width: 12%;
  padding-top: 1.4%;
  cursor: pointer;
}
.header .navbar .pages {
  height: 100%;
  width: 29.6%;
  display: inline-block;
  overflow: hidden;
}
.header .navbar .pages ul {
  height: 100%;
  width: 100%;
  display: inline-block;
  overflow: hidden;
}
.header .navbar .pages ul li {
  height: 100%;
  display: inline-block;
  padding-top: 10%;
  text-align: right;
  font-weight: 400;
  text-transform: capitalize;
  width: 32.4%;
  color: #CCC;
  cursor: pointer;
}
.header .navbar .pages ul li:hover {
  color: #46b7da;
}
.header .slider {
  width: 100%;
  overflow: hidden;
  color: #CCC;
}
.header .slider .slider_content {
  width: 94%;
  display: inline-block;
  text-align: center;
}
.header .slider .slider_content h1 {
  text-transform: capitalize;
  margin: 0 0 5px 0;
  font-size: 40px;
}
.header .slider .slider_content p {
  text-transform: capitalize;
  font-size: 20px;
  margin: 0 0 100px 0;
}
.header .slider .slider_content button {
  background-color: #46b7da;
  padding: 10px 15px;
  border: 2px solid transparent;
  border-radius: 3px;
  color: #CCC;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.header .slider .slider_content button:hover {
  background-color: transparent;
  color: #46b7da;
  border: 2px solid #46b7da;
}
.header .slider i {
  display: inline-block;
  width: 2.6%;
  font-size: 30px;
  cursor: pointer;
}
.header .slider i:hover {
  color: #46b7da;
}
.header .slider .slider_points {
  margin-top: 50px;
  text-align: center;
}
.header .slider .slider_points i {
  width: 30px;
  font-size: 10px;
  cursor: pointer;
  padding: 8px;
  border: 2px solid transparent;
  border-radius: 50%;
}
.header .slider .slider_points i:hover {
  color: #46b7da;
}
.header .slider .slider_points .selected {
  border: 2px solid #CCC;
}

/* ==================== Introduction Section ==================== */
.intro-sec {
  margin: 60px 0px;
}
.intro-sec p {
  text-align: center;
  font-size: 20px;
  padding: 0px 50px;
  font-weight: bold;
  color: #555;
  text-transform: capitalize;
  line-height: 30px;
}
.intro-sec .intro-icons {
  margin-top: 85px;
}
.intro-sec .intro-icons .icon {
  display: inline-block;
  width: 30%;
  margin-right: 4.5%;
  text-align: center;
  position: relative;
  color: #333;
  border-radius: 5px;
  border: 1px solid #CCC;
}
.intro-sec .intro-icons .icon i {
  font-size: 25px;
  background-color: #46b7da;
  color: #FFF;
  padding: 20px;
  border-radius: 50%;
  border: 10px solid #FFF;
  position: absolute;
  left: 39.5%;
  top: -40px;
}
.intro-sec .intro-icons .icon img {
  margin-bottom: 10px;
  width: 100%;
  border-radius: 4px 4px 0 0;
}
.intro-sec .intro-icons .icon h3 {
  margin: 15px 0px;
  text-transform: capitalize;
}
.intro-sec .intro-icons .icon p {
  padding: 0% 5%;
  font-size: 15px;
  text-transform: capitalize;
  line-height: 20px;
  margin: 0 0 15px 0;
}
.intro-sec .intro-icons .icon:hover {
  background-color: #EEE;
}
.intro-sec .intro-icons .icon:last-child {
  margin-right: 0px;
}

/* ==================== Features ==================== */
.features {
  margin: 60px 0px;
  text-align: center;
  position: relative;
}
.features i {
  font-size: 35px;
  color: #46b7da;
  position: absolute;
  top: -15px;
  right: 540px;
  background: #FFF;
  padding: 0 15px;
}
.features h2 {
  padding-top: 50px;
  border-top: 1px solid #AAA;
  text-transform: uppercase;
}
.features .feat {
  overflow: hidden;
  height: 200px;
  margin-top: 100px;
}
.features .feat .feat-img {
  display: inline-block;
  width: 32%;
  height: 100%;
  overflow: hidden;
}
.features .feat .feat-img img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.features .feat .feat-cont {
  display: inline-block;
  width: 62%;
  text-align: left;
  padding: 20px 0;
}
.features .feat .feat-cont h3 {
  text-transform: capitalize;
}
.features .feat .feat-cont p {
  font-size: 17px;
  color: #555;
  text-transform: capitalize;
  line-height: 22px;
  margin: 15px 0;
}
.features .feat .feat-cont button {
  padding: 10px 15px;
  border: 2px solid #46b7da;
  border-radius: 3px;
  color: #46b7da;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.features .feat .feat-cont button:hover {
  background-color: #46b7da;
  color: #FFF;
}
.features .one .feat-img {
  float: left;
}
.features .one .feat-cont {
  float: right;
  margin-left: 5.6%;
}
.features .two .feat-cont {
  float: left;
  margin-right: 5.6%;
}
.features .two .feat-img {
  float: right;
}

/* ==================== Latest Projects ==================== */
.lat-projs {
  margin: 60px 0px;
  text-align: center;
  position: relative;
}
.lat-projs i {
  font-size: 35px;
  color: #46b7da;
  position: absolute;
  top: -15px;
  right: 540px;
  background: #FFF;
  padding: 0 15px;
}
.lat-projs h2 {
  padding-top: 50px;
  border-top: 1px solid #AAA;
  text-transform: uppercase;
}
.lat-projs p {
  font-size: 17px;
  font-weight: bold;
  color: #555;
  text-transform: capitalize;
  margin: 10px 0;
}
.lat-projs .projs {
  margin-top: 40px;
}
.lat-projs .projs .project {
  display: inline-block;
  width: 24%;
  margin-right: 0.9%;
  text-align: center;
  position: relative;
  color: #333;
}
.lat-projs .projs .project img {
  border-radius: 5px;
  border: 2px solid #CCC;
  margin-bottom: 10px;
  width: 100%;
  height: 250px;
}
.lat-projs .projs .project h3 {
  padding-top: 15px;
  border-top: 1px solid #AAA;
  text-transform: capitalize;
}
.lat-projs .projs .project p {
  font-size: 15px;
  text-transform: capitalize;
  line-height: 20px;
}
.lat-projs .projs .project:last-child {
  margin-right: 0px;
}

/* ==================== Client Testimonials ==================== */
.testims {
  margin: 60px 0px;
  text-align: center;
  position: relative;
}
.testims i {
  font-size: 35px;
  color: #46b7da;
  position: absolute;
  top: -15px;
  right: 540px;
  background: #FFF;
  padding: 0 15px;
}
.testims h2 {
  padding-top: 50px;
  border-top: 2px solid #AAA;
  text-transform: uppercase;
}
.testims .testim-cont {
  margin-top: 40px;
}
.testims .testim-cont p {
  font-size: 15px;
  text-transform: capitalize;
  line-height: 25px;
  font-weight: bold;
  color: #555;
  margin-bottom: 25px;
  padding: 0 10%;
}
.testims .testim-cont h4 {
  padding-top: 25px;
  margin: auto 450px;
  border-top: 2px solid #AAA;
  text-transform: capitalize;
}
.testims .testim-dots {
  margin-top: 10px;
}
.testims .testim-dots ul li {
  display: inline-block;
}
.testims .testim-dots ul li i {
  position: static;
  color: #AAA;
  width: 20px;
  font-size: 10px;
  cursor: pointer;
  padding: 8px;
  border: 2px solid transparent;
  border-radius: 50%;
}
.testims .testim-dots ul li i:hover {
  color: #46b7da;
}
.testims .testim-dots ul li .selected {
  color: #46b7da;
}

/* ==================== Framework ==================== */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}

.contain {
  width: 1150px;
  margin: auto;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000C;
}

.clear {
  clear: both;
}

/* ===== Large Desktop ===== */
@media (min-width: 1200) {
  .contain {
    width: 1150px;
    margin: auto;
  }
}
/* ===== Large Laptop & Medium Desktop ===== */
@media (max-width: 1200px) and (min-width: 901px) {
  .contain {
    width: 850px;
    margin: auto;
  }
}
/* ===== Small Labtop & Tablet Landscape ===== */
@media (max-width: 900px) and (min-width: 601px) {
  .contain {
    width: 575px;
    margin: auto;
  }
}
/* ===== Mobile Landscape & Tablet Portrait ===== */
@media (max-width: 600px) and (min-width: 401px) {
  .contain {
    width: 400px;
    margin: auto;
  }
}
/* ===== Mobile Portriat ===== */
@media (max-width: 400px) {
  .contain {
    width: 100%;
    margin: auto;
  }
}

/*# sourceMappingURL=third.css.map */
